<div class="row">
	<div class="col s12 m12 l12">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Evento</th>
					<th>Descrição</th>
					<th>Data</th>
					<th>Ações</th>
				</tr>
			</thead>

			<tbody>
			<% @logs.each do |log| %>
				<tr>
					<td><%= "<span class='new badge green'>&nbsp;</span>".html_safe if new_log(log) %></td>
					<td class="<%= log_class log %>-text"><%= log.descricao %></td>
					<td><%= descricao_log(log) %></td>
					<td><%= l log.created_at, format: :long %></td>
					<td class="actions">
						<% unless log_class(log) == "red" %>
							<a href="<%= log_url(log) %>" class="btn shadow blue small">
								<i class='material-icons'>search</i>
							</a>
						<% end %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>		
	</div>
</div>