<div class="container">
	<div class="row">
		<div class="col l6 s12">
			<h5 class="white-text">Lorem</h5>
			<p class="grey-text text-lighten-4"><%= "#{Faker::Lorem::paragraph(10)}" %>.</p>
		</div>
		<div class="col l4 offset-l2 s12">
			<h5 class="white-text">Redes Sociais</h5>
			<ul>
				<li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Linkedin</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="footer-copyright">
	<div class="container">
		© 2019 Copyright Text
	</div>
</div>
