<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper container">
			<%= link_to "Loja", home_path, class: "brand-logo logo" %>
			<a data-target="slide-out-front" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/" class="" style="display: inline-flex;">Home</a></li>
				<li><a href="/produtos" class="" style="display: inline-flex;">Produtos</a></li>
			</ul>
		</div>
	</nav>
</div>

<ul class="sidenav" id="slide-out-front">
	<li><a href="/" class="btn shadow blue dark" style="display: inline-flex;">Home</a></li>
	<li><a href="/produtos" class="btn shadow blue dark" style="display: inline-flex;">Produtos</a></li>
</ul>