<div id="<%= controller_name %>_<%= action_name %>">
  <div class="video-parallax-container">
    <div class="video-parallax">
      <video autoplay muted loop id="myVideo">
        <source src="/background0.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.
      </video>
        
        <div class="container absolute">
          <br>
          <br>
          <br>
          <div class="row">
            <h1 class="left animated BounceInLeft no-margin no-padding white-text"><%= "Aqui vídeo com propaganda de produtos" %></h1>
          </div>
          <div class="row">
          <span class="span animated BounceInLeft white-text left no-margin no-padding"><%= "Vídeo com efeito de paralax" %></span><br>
          </div>
          <div class="row">
          <p class="left row no-margin no-padding">&nbsp;
            <a class="btn left orange shadow dark margin-top-15 animated BounceInLeft"><%= "Botão" %></a>
          </p>
          </div>
        </div>

    </div>
  </div>
  <div class="section ">
    <div class="container">
      <br>
      <h1 class="center show-off from-down orange-text">Relógios</h1>
      <div class="row">
        <% relogios.each_with_index do |produto, index| %>
        <!-- ############ SEPARAR LINHAS ############# -->
          <% if ((index) % 3) == 0 %>
            </div><div class="row">
          <% end %>
        <!-- ############ ############## ############# -->
          <div class="col s12 m4 l4">
              <div class="card show-off from-<%= ['right','left'].sample %>" style="min-height: 400px; border: 1px solid #F05815;" >
                  <%= link_to produto_path(produto), class: "hover-image" do %>
                <div class="card-image">
              <span class="badge green white-text" style="position: relative; z-index: 99;"><%= "#{produto.desconto.to_i}%" %>
              </span>
                  <img src="<%= capa(produto) %>" style="display: initial; margin-top: -22px;">
                  <span class="card-title black-text f20" ><%= truncate("#{produto.nome}", length: 30) %> <br>
                  </span>
                </div>
                  <% end %>
                <div class="card-content">
                  <p><%= truncate("#{produto.descricao}", length: 100) %></p>
                  <p> <span class="span" style="text-decoration: line-through;"> <%= "R$#{produto.preco} " %> </span> &nbsp; <%= " R$#{produto.preco_final}" %>
                </div>
              </div>
          </div>    
        <% end %>
      </div>
      <br>
      <h1 class="center show-off from-down orange-text">Tênis</h1>
      <div class="row">
        <% tenis.each_with_index do |produto, index| %>
        <!-- ############ SEPARAR LINHAS ############# -->
          <% if ((index) % 3) == 0 %>
            </div><div class="row">
          <% end %>
        <!-- ############ ############## ############# -->
          <div class="col s12 m4 l4">
              <div class="card show-off from-<%= ['right','left'].sample %>" style="min-height: 400px; border: 1px solid #F05815;" >
                  <%= link_to produto_path(produto), class: "hover-image" do %>
                <div class="card-image">
              <span class="badge green white-text" style="position: relative; z-index: 99;"><%= "#{produto.desconto.to_i}%" %>
              </span>
                  <img src="<%= capa(produto) %>" style="display: initial; margin-top: -22px;">
                  <span class="card-title black-text f20" ><%= truncate("#{produto.nome}", length: 30) %> <br>
                  </span>
                </div>
                  <% end %>
                <div class="card-content">
                  <p><%= truncate("#{produto.descricao}", length: 100) %></p>
                  <p> <span class="span" style="text-decoration: line-through;"> <%= "R$#{produto.preco} " %> </span> &nbsp; <%= " R$#{produto.preco_final}" %>
                </div>
              </div>
          </div>    
        <% end %>
      </div>
      <br>
      <h1 class="center show-off from-down orange-text">Óculos</h1>
      <div class="row">
        <% oculos.each_with_index do |produto, index| %>
        <!-- ############ SEPARAR LINHAS ############# -->
          <% if ((index) % 3) == 0 %>
            </div><div class="row">
          <% end %>
        <!-- ############ ############## ############# -->
          <div class="col s12 m4 l4">
              <div class="card show-off from-<%= ['right','left'].sample %>" style="min-height: 400px; border: 1px solid #F05815;" >
                  <%= link_to produto_path(produto), class: "hover-image" do %>
                <div class="card-image">
              <span class="badge green white-text" style="position: relative; z-index: 99;"><%= "#{produto.desconto.to_i}%" %>
              </span>
                  <img src="<%= capa(produto) %>" style="display: initial; margin-top: -22px;">
                  <span class="card-title black-text f20" ><%= truncate("#{produto.nome}", length: 30) %> <br>
                  </span>
                </div>
                  <% end %>
                <div class="card-content">
                  <p><%= truncate("#{produto.descricao}", length: 100) %></p>
                  <p> <span class="span" style="text-decoration: line-through;"> <%= "R$#{produto.preco} " %> </span> &nbsp; <%= " R$#{produto.preco_final}" %>
                </div>
              </div>
          </div>    
        <% end %>
      </div>

    </div>
  </div>
</div>