<div style="height: 64px;">&nbsp;</div>
<div class="container" style="margin-top: 15px;">
  <div class="row">
    <div class="col s12 m12 l6 offset-l3">
    <%= render "card" %>
    </div>
  </div>
</div>