	<%= form_for [:admin, @produto], remote: true do |f| %>
		<div class="row">
			<div class="col s12 m12 l12">
			<br>
				<div class="card">
					<div class="card-content">
						<div class="row">
							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">description</i>
									<%= f.text_field :nome  %>
									<label for="produto_nome">Name</label>
								</div>
							</div>

							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">description</i>
									<%= f.text_field :descricao %>
									<label for="produto_descricao">Descrição</label>
								</div>
							</div>

							<div class="field">
								<div class="input-field col s12 m12 l12">
									<i class="material-icons prefix">local_offer</i>
									<%= f.collection_select :categoria_id, Categoria.all.order("categorias.nome ASC"), :id, :nome, { prompt: "Selecionar Categoria" } %>
									<%= f.label :categoria %>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="field">
								<div class="input-field col s12 m12 l6">
									<i class="material-icons prefix">monetization_on</i>
									<%= f.text_field :custo, :onkeypress => "mascara(this, checaValor)", maxlength: 9   %>
									<label for="produto_custo">Custo</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m12 l6">
									<i class="material-icons prefix">monetization_on</i>
									<%= f.text_field :preco, class: "calcular", :onkeypress => "mascara(this, checaValor)", maxlength: 9   %>
									<label for="produto_preco">Preço</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m12 l6">
									<i class="material-icons prefix">monetization_on</i>
									<%= f.text_field :desconto, class: "calcular", :onkeypress => "mascara(this, checaNumero)"  %>
									<label for="produto_desconto">Desconto (%)</label>
								</div>
							</div>
							<div class="field">
								<div class="input-field col s12 m12 l6">
									<i class="material-icons prefix">monetization_on</i>
									<%= f.text_field :preco_final, :onkeypress => "mascara(this, checaValor)", maxlength: 9 %>
									<label for="produto_total">Total</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m12 l3" >
								<label>
									<%= f.check_box :ativo, class: "filled-in checkbox"  %> 
									<span class="">Ativo</span>
								</label>
							</div>
							<div class="col s12 m12 l3" >
								<label>
									<%= f.check_box :destaque, class: "filled-in checkbox"  %> 
									<span class="">Destaque</span>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m12 l12">
								<div class="file-field input-field">
									<div class="btn blue">
									    <span>FOTOS</span>
										<%= f.file_field :fotos, multiple: true %>
									</div>
									<div class="file-path-wrapper">
										<input class=" validate" type="text" placeholder="Adiconar imagem ">
									</div>
								</div>
							</div>
							<div class="col s12 m12 l12">
								<div class="row">
									<% unless @produto.fotos.blank? %>
										<% @produto.fotos.each do |foto| %>
												<div class="col s6 m3 l2">
													<img src="<%= foto %>" class="" style="height: 100px; width: auto;">
												</div>
										<% end %>
									<% end %>
								</div>
							</div>
						</div>
						<div class="action  ">
							<button type="submit" class="send btn shadow green dark small right">Salvar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>


<script type="text/javascript">
	$(".calcular").keyup(function(){
		var preco = parseFloat($("#produto_preco").prop('value').replace(".", "").replace(",", ".")).toFixed(2);
		var desconto = parseFloat($("#produto_desconto").prop('value'));
		desconto = desconto || 0
		desconto = parseFloat((preco*desconto/100)).toFixed(2);
		console.log("preco: "+preco)
		console.log("desconto: "+desconto)
		preco_final = parseFloat(""+(preco-desconto)).toFixed(2);
		$("#produto_preco_final").val(preco_final);
		console.log("preco_final: "+preco_final)
		M.updateTextFields();
	});
</script>