<tr>
  <td class="cod">
    <span>
      <%= produto.id %>
    </span>
  </td>
  <td><span class="span purple-text peso-7"><%= I18n.t("categoria.tipos.#{produto.categoria.tipos}") %></span> <%= "#{produto.categoria.nome}" %></td>
  <td><%= "#{produto.nome}" %></td>
  <td><%= produto.descricao %></td>
  <td>
    <%= produto.ativo ? "<i class='material-icons green-text'>check_box</i>".html_safe : "<i class='material-icons red-text'>check_box_outline_blank</i>".html_safe %>
  </td>
  <td>
    <%= produto.destaque ? "<i class='material-icons orange-text'>star</i>".html_safe : "<i class='material-icons orange-text'>star_border</i>".html_safe %>
  </td>
  <td>
    <img src="<%= capa(produto) %>" style="max-height: 2rem;" >
  </td>
  <td class="actions">
    <%= link_to edit_admin_produto_path(produto), class: "btn shadow blue small", title: "Editar #{produto.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>edit</i>
    <% end %>
    <%= link_to admin_produto_path(produto), class: "btn shadow orange small", title: "Visualizar #{produto.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>search</i>
    <% end %>
    <%= link_to admin_produto_path(produto), class: "btn shadow purple small", title: "Rendimento #{produto.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>insert_chart</i>
    <% end %>
    <% if admin %>
      <%= link_to "<i class='material-icons prefix'>delete</i>".html_safe, admin_produto_path(produto), remote: true, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn shadow red small", title: "Deletar #{produto.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
    <% end %>
  </td>
</tr>