<% @produtos.each do |produto| %>
	<div class="col s12 m6 l4">
		<div class="card" style="min-height: 400px; border: 1px solid #F05815;" >
		  <%= link_to produto_path(produto), class: "hover-image" do %>
		<div class="card-image">
			<span class="badge green white-text" style="position: relative; z-index: 99;"><%= "#{produto.desconto.to_i}%" %>
			</span>
		  <img src="<%= capa(produto) %>" style="display: initial; margin-top: -22px; max-height: 300px; width: auto;">
		  <span class="card-title black-text f20" ><%= truncate("#{produto.nome}", length: 30) %> <br>
		  </span>
		</div>
		  <% end %>
		<div class="card-content">
		  <p><%= truncate("#{produto.descricao}", length: 100) %></p>
		  <p> <span class="span" style="text-decoration: line-through;"> <%= "R$#{produto.preco} " %> </span> &nbsp; <%= " R$#{produto.preco_final}" %></p>
		</div>
		</div>
	</div>
<% end %>