$("#produto_list").html("<%= j( render 'list'  )%>")
$(".card").each(function(i){
	var array = ['Left', 'Right', 'Down', 'Up'].sort();
	var i = Math.random() * (3 - 1) + 1;
	console.log(i);
	var classe = "animated bounceIn"+array[parseInt(i)];
	$(this).addClass(classe);
});
