<div class="container">
	<br>
	<div class="row">
		<div class="input-field col s12 m3 l3">
			<select name="categoria" id="categoria">
				<option value="" disabled selected>Categoria</option>
				<optgroup label="Relógios">
					<%= categorias_relogios.each do |categoria| %>
					<option value="<%= categoria.id %>"><%= "#{categoria.nome}" %></option>
					<% end %>
				</optgroup>


				<optgroup label="Tênis">
					<%= categorias_tenis.each do |categoria| %>
					<option value="<%= categoria.id %>"><%= "#{categoria.nome}" %></option>
					<% end %>
				</optgroup>


				<optgroup label="Óculos">
					<%= categorias_oculos.each do |categoria| %>
					<option value="<%= categoria.id %>"><%= "#{categoria.nome}" %></option>
					<% end %>
				</optgroup>

			</select>
		</div>
		<div class="input-field col s12 m9 l9">
			<input id="search" type="text" class="validate white border-indigo" style="margin-right: -95px;">
			<a id="buscar" class="btn shadow blue none" style="width: 75px; height: 100%; border: none;">Buscar</a>
		</div>
	</div>
	<br>
	<div class="row">
		<div id="produto_list">
			<%= render "list" %>
		</div>
	</div>
</div>


<script type="text/javascript">
	
  $(function($) {

    $("#buscar").click(function() {
    	$(".card").removeClass("animated bounceInLeft bounceInRight bounceInDown bounceInUp");
        var categoria = $("#categoria").val();
        var search = $("#search").val();
	    $.ajax({
	      url: "/produtos",
	      method: "GET",
	      dataType: "script",
	      data: {
	        'categoria':                  categoria,
	        'search':                  search
	      },
	    });

    });

    $("input, select").change(function(){
    	$("#buscar").trigger( "click" );
    });
  });
</script>