<div class="container">
	<br>
	<div class="row">
		<p class="left">
			<h5 class="blue-text">
				<%= @produto.nome %> <span class="span f12"><%= "(#{@produto.categoria.nome})" %></span>
			</h5>
			<span class="span"><%= "#{@produto.descricao}" %></span>
		</p>
	</div>
	<hr>
	<div class="row">
		<div class="col s12 m12 l6 ">
			<div class="carousel">
				<% if relogios?(@produto) %>
					<% (1..10).each do |index| %>
						<a class="carousel-item" ><img src="/images/produtos/relogios/<%= index %>.jpg"></a>
					<% end %>
				<% elsif tenis?(@produto) %>
					<% (1..10).each do |index| %>
						<a class="carousel-item" ><img src="/images/produtos/tenis/<%= index %>.jpg"></a>
					<% end %>
				<% elsif oculos?(@produto) %>
					<% (1..10).each do |index| %>
						<a class="carousel-item" ><img src="/images/produtos/oculos/<%= index %>.jpg"></a>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="col s12 m12 l6">
			<div class="row">
				<div class="col s12 m12 l12">
					<p>
						<h5 class="indigo-text">Mais informações</h5>
						<span class="span f15"><%= Faker::Lorem::paragraph(50) %></span>
					</p>
				</div>
				<div class="col s12 m12 l6">
					<br>
					<p>
						<span class="f30">Por </span> <span class="f30 red-text"><%= "R$ #{@produto.preco_final}" %></span> <br>
						<span class="span f15 red-text"> ou até 10x de <%= " R$#{(@produto.preco_final/10)}" %>, sem juros.</span>
					</p>
					<br>
				</div>
				<div class="col s12 m12 l6">
					<br><br>
					<a class="btn shadow green dark">Comprar</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<span class="span f25">Após visitar este item, o que os clientes acabam comprando?</span><br>
			<% if relogios?(@produto) %>
		        <% relogios(4).each_with_index do |produto, index| %>
		          <div class="col s12 m4 l3">
		              <div class="card " style="min-height: 450px; border: 1px solid #F05815;" >
		                  <%= link_to produto_path(produto), class: "hover-image" do %>
		                <div class="card-image">
							<span class="badge green white-text" style="position: relative; z-index: 99;"><%= "#{produto.desconto.to_i}%" %>
							</span>
		                  <img src="<%= capa(produto) %>" style="display: initial; margin-top: -22px;">
		                  <span class="card-title black-text f20" ><%= truncate("#{produto.nome}", length: 30) %> <br>
		                  </span>
		                </div>
		                  <% end %>
		                <div class="card-content">
		                  <p><%= truncate("#{produto.descricao}", length: 100) %></p>
		  					<p> <span class="span" style="text-decoration: line-through;"> <%= "R$#{produto.preco} " %> </span> &nbsp; <%= " R$#{produto.preco_final}" %>
		                </div>
		              </div>
		          </div>    
		        <% end %>
			<% elsif tenis?(@produto) %>
		        <% tenis(4).each_with_index do |produto, index| %>
		          <div class="col s12 m4 l3">
		              <div class="card " style="min-height: 450px; border: 1px solid #F05815;" >
		                  <%= link_to produto_path(produto), class: "hover-image" do %>
		                <div class="card-image">
							<span class="badge green white-text" style="position: relative; z-index: 99;"><%= "#{produto.desconto.to_i}%" %>
							</span>
		                  <img src="<%= capa(produto) %>" style="display: initial; margin-top: -22px;">
		                  <span class="card-title black-text f20" ><%= truncate("#{produto.nome}", length: 30) %> <br>
		                  </span>
		                </div>
		                  <% end %>
		                <div class="card-content">
		                  <p><%= truncate("#{produto.descricao}", length: 100) %></p>
		  					<p> <span class="span" style="text-decoration: line-through;"> <%= "R$#{produto.preco} " %> </span> &nbsp; <%= " R$#{produto.preco_final}" %>
		                </div>
		              </div>
		          </div>    
		        <% end %>
			<% elsif oculos?(@produto) %>
		        <% oculos(4).each_with_index do |produto, index| %>
		          <div class="col s12 m4 l3">
		              <div class="card " style="min-height: 450px; border: 1px solid #F05815;" >
		                  <%= link_to produto_path(produto), class: "hover-image" do %>
		                <div class="card-image">
							<span class="badge green white-text" style="position: relative; z-index: 99;"><%= "#{produto.desconto.to_i}%" %>
							</span>
		                  <img src="<%= capa(produto) %>" style="display: initial; margin-top: -22px;">
		                  <span class="card-title black-text f20" ><%= truncate("#{produto.nome}", length: 30) %> <br>
		                  </span>
		                </div>
		                  <% end %>
		                <div class="card-content">
		                  <p><%= truncate("#{produto.descricao}", length: 100) %></p>
		  					<p> <span class="span" style="text-decoration: line-through;"> <%= "R$#{produto.preco} " %> </span> &nbsp; <%= " R$#{produto.preco_final}" %>
		                </div>
		              </div>
		          </div>    
		        <% end %>
			<% end %>
	</div>
	<div class="row">
		<span class="span f25">Quem procura este item também se interessa por</span><br>
			<% if relogios?(@produto) %>
		        <% relogios(4).each_with_index do |produto, index| %>
		          <div class="col s12 m4 l3">
		              <div class="card " style="min-height: 450px; border: 1px solid #F05815;" >
		                  <%= link_to produto_path(produto), class: "hover-image" do %>
		                <div class="card-image">
							<span class="badge green white-text" style="position: relative; z-index: 99;"><%= "#{produto.desconto.to_i}%" %>
							</span>
		                  <img src="<%= capa(produto) %>" style="display: initial; margin-top: -22px;">
		                  <span class="card-title black-text f20" ><%= truncate("#{produto.nome}", length: 30) %> <br>
		                  </span>
		                </div>
		                  <% end %>
		                <div class="card-content">
		                  <p><%= truncate("#{produto.descricao}", length: 100) %></p>
		  					<p> <span class="span" style="text-decoration: line-through;"> <%= "R$#{produto.preco} " %> </span> &nbsp; <%= " R$#{produto.preco_final}" %>
		                </div>
		              </div>
		          </div>    
		        <% end %>
			<% elsif tenis?(@produto) %>
		        <% tenis(4).each_with_index do |produto, index| %>
		          <div class="col s12 m4 l3">
		              <div class="card " style="min-height: 450px; border: 1px solid #F05815;" >
		                  <%= link_to produto_path(produto), class: "hover-image" do %>
		                <div class="card-image">
							<span class="badge green white-text" style="position: relative; z-index: 99;"><%= "#{produto.desconto.to_i}%" %>
							</span>
		                  <img src="<%= capa(produto) %>" style="display: initial; margin-top: -22px;">
		                  <span class="card-title black-text f20" ><%= truncate("#{produto.nome}", length: 30) %> <br>
		                  </span>
		                </div>
		                  <% end %>
		                <div class="card-content">
		                  <p><%= truncate("#{produto.descricao}", length: 100) %></p>
		  					<p> <span class="span" style="text-decoration: line-through;"> <%= "R$#{produto.preco} " %> </span> &nbsp; <%= " R$#{produto.preco_final}" %>
		                </div>
		              </div>
		          </div>    
		        <% end %>
			<% elsif oculos?(@produto) %>
		        <% oculos(4).each_with_index do |produto, index| %>
		          <div class="col s12 m4 l3">
		              <div class="card " style="min-height: 450px; border: 1px solid #F05815;" >
		                  <%= link_to produto_path(produto), class: "hover-image" do %>
		                <div class="card-image">
							<span class="badge green white-text" style="position: relative; z-index: 99;"><%= "#{produto.desconto.to_i}%" %>
							</span>
		                  <img src="<%= capa(produto) %>" style="display: initial; margin-top: -22px;">
		                  <span class="card-title black-text f20" ><%= truncate("#{produto.nome}", length: 30) %> <br>
		                  </span>
		                </div>
		                  <% end %>
		                <div class="card-content">
		                  <p><%= truncate("#{produto.descricao}", length: 100) %></p>
		  					<p> <span class="span" style="text-decoration: line-through;"> <%= "R$#{produto.preco} " %> </span> &nbsp; <%= " R$#{produto.preco_final}" %>
		                </div>
		              </div>
		          </div>    
		        <% end %>
			<% end %>
	</div>
	<div class="row layout claro">
		<span class="span peso-7 f15">Detalhes do produto:</span> <span class="span f15"><%= "(#{@produto.categoria.nome}) #{@produto.nome} - #{@produto.descricao}" %></span>
		<span class="span f15">
			<ul>
				<% (1..5).each do |index| %>
					<li>
						<p>
							&nbsp; - &nbsp;<%= Faker::Lorem::paragraph(10) %>
						</p>
					</li>
				<% end %>
			</ul>
		</span>
	</div>
</div>
