
body::-webkit-scrollbar{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	width: 8px;
}
body::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(000, 000, 000, 0.1);
}

h1, h2, h3, h4, h5{
	font-size: 30px;
	color: #333;
}
p{
	color: #333;
}

.btn{
	margin: 1px 0;
	&.shadow{
		width: auto;
		background-color: #fff!important;
		box-shadow: none;
		transition: .5s;
		&:hover{
			box-shadow: 0 2px 10px rgba(000, 000, 000, 0.6);
		}

		@media only screen and (max-width : 450px) {
			width: 100% !important;
		}

		@media only screen   and (min-width : 993px) and (max-width : 1137px) {
			width: 100% !important;
		}

		&.white{
			border: 0.5px solid #000;
			color: #000 !important;
			&.dark{
				background-color: #white !important;
				color: black !important;
			}
			i{
				color: black !important;
			}
		}

		&.orange{
			border: 0.5px solid #F05815;
			color: #F05815 !important;
			&.dark{
				background-color: #F05815 !important;
				color: white !important;
			}
		}
		&.blue{
			border: 0.5px solid #2196f3;
			color: #2196f3 !important;
			&.dark{
				background-color: #2196f3 !important;
				color: white !important;
			}
		}
		&.green{
			border: 0.5px solid #388e3c;
			color: #388e3c !important;
			&.dark{
				background-color: #388e3c !important;
				color: white !important;
			}
			i{
				color: white !important;
			}
		}
		&.purple{
			border: 0.5px solid purple;
			color: purple !important;
			&.dark{
				background-color: purple !important;
				color: white !important;
			}
		}
		&.grey{
			border: 0.5px solid #9e9e9e;
			color: #9e9e9e !important;
			&.dark{
				background-color: #9e9e9e !important;
				color: white !important;
			}
		}
		&.red{
			border: 0.5px solid red;
			color: red !important;
			&.dark{
				background-color: red !important;
				color: white !important;
			}
		}
		&.black{
			border: 0.5px solid #000;
			color: #000 !important;
		}
		&.fill-orange{
			background-color: #fff3e0!important;
			border: 0.5px solid #ff9800;
			color: #ff9800 !important;
		}
		&.fill-green{
			background-color: #e8f5e9!important;
			border: 0.5px solid #388e3c;
			color: #388e3c !important;
		}
		&.fill-red{
			background-color: #ffebee!important;
			border: 0.5px solid #f44336;
			color: #f44336 !important;
		}
		&.fill-purple{
			background-color: #f3e5f5!important;
			border: 0.5px solid purple;
			color: purple !important;
		}
		&.fill-blue{
			background-color: #e3f2fd!important;
			border: 0.5px solid #0277bd;
			color: #0277bd !important;
		}
		&.small{
			padding: 3px;
			line-height: 1.7;
			font-size: 12px;
			height: auto;
			text-transform: initial;
			width: fit-content !important;
		}
		&.medium{
			padding: 5px;
			line-height: 1.7;
			font-size: 12px;
			height: auto;
			text-transform: initial;
			width: fit-content !important;
		}
		&.none{
			&:hover{
				box-shadow: none;
			}
			&:focus{
				font-size: 15px;
				border: none !important;
				font-style: italic !important;
			}
		}
	}
}

.border-blue{
	border: 1px solid blue !important;
}

.border-indigo{
	border: 1px solid #3f51b5 !important;
}
.layout{
	padding: 15px;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	font-size: 12px;
	color: #222;
	margin: 10px 0;

	&.claro{
		background-color: #ffffff !important;
		
	}

	&.red{
		background-color: #b71c1c !important;
		
	}

	&.blue{
		background-color: #2196f3 !important;
		
	}

}

.checkbox[type="checkbox"].filled-in:checked + span:not(.lever):after{
	border: 2px solid #2196F3 !important;
	background-color: #2196F3 !important;
}

.input-field label.active{
	color: #2196F3 !important;
}
label.active{
	color: #2196F3 !important;
}

.input-field i.active{
	color: #2196F3 !important;
}

i.active{
	color: #2196F3 !important;
}


.input-field input:focus{
	color: #444 !important;
	box-shadow: none !important;
	border-bottom: 1px solid #2196F3 !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 20px;
	transition: .5s;
}

input:focus{
	color: #444 !important;
	box-shadow: none !important;
	border-bottom: 1px solid #2196F3 !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 20px;
	transition: .5s;
	&#pesquisa{
		padding-left: 5% !important;
	}
}

.input-field input{
	color: #777 !important;
	font-style: italic !important;
	font-weight: 400 !important;
	padding-left: 10px !important;
	transition: .5s !important;
}

input{
	color: #777 !important;
	font-style: italic !important;
	font-weight: 400 !important;
	padding-left: 10px !important;
	transition: .5s !important;
	&#pesquisa{
		padding-left: 5% !important;
	}
}

.chips.focus{
	color: #444 !important;
	box-shadow: none !important;
	border-bottom: 1px solid #2196F3 !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 18px;
}
.dropdown-content li > a, .dropdown-content li { 
	span{
		color: #2196F3;
	}
	&.selected{
		background-color: #2196F3 !important;
		span{
			color: white !important;
		}
	}
}


.cod{
	span{
		border: 1px solid #2196F3; padding: 8px;
	}
}

table{
	td{
		&.actions{
			a{
				display: table-cell;
			}
		}
		i.material-icons{
			font-size: 1rem;
		}
	}
}


.f10{
	font-size: 10px;
}
.f12{
	font-size: 12px;
}
.f15{
	font-size: 15px;
}
.f20{
	font-size: 20px;
}
.f25{
	font-size: 25px;
}
.f30{
	font-size: 30px;
}
.f35{
	font-size: 35px;
}
.f40{
	font-size: 40px;
}
.f45{
	font-size: 45px;
}
.f50{
	font-size: 50px;
}

.peso-1{
	font-weight: 100 !important;
	
}
.peso-2{
	font-weight: 200 !important;
	
}
.peso-3{
	font-weight: 300 !important;
	
}
.peso-4{
	font-weight: 400 !important;
	
}
.peso-5{
	font-weight: 500 !important;
	
}
.peso-6{
	font-weight: 600 !important;
	
}
.peso-7{
	font-weight: 700 !important;

}

.opacity-0{
	opacity: 0;
}

.no-margin{
	margin: 0 !important;
}

.margin-15{
	margin: 15px !important;
}

.margin-top-15{
	margin-top: 15px !important;
}

.margin-bottom-15{
	margin-bottom: 15px !important;
}

.margin-left-15{
	margin-left: 15px !important;
}

.margin-right-15{
	margin-right: 15px !important;
}

.span{
	font-style: italic;
	color: #777;
}

.transparent{
	background-color: transparent !important;
	box-shadow: none !important;
	border: none !important;
	color: black !important;
}

ul.sidenav{
	ul.collapsible{
		li{
			display: block;
		}
	}
}


.hover-image{
	.card-image{
		overflow: hidden !important;
	}
	img{
		-ms-transform: scale(1); /* IE 9 */
		-webkit-transform: scale(1); /* Safari 3-8 */
		transform: scale(1); 
		transition: .5s;
	}
	&:hover{
		img{
			-ms-transform: scale(1.05); /* IE 9 */
			-webkit-transform: scale(1.05); /* Safari 3-8 */
			transform: scale(1.05); 
			transition: .5s;
		}
	}
}

.radius{
	border-radius: 10px;
}

.noTitleStuff .ui-dialog-titlebar {display:none}

.grafit{
	background-color: #444;
	color: #fff;
}
.grafit-text{
	color: #444;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}

#myVideo{
	position: fixed;
	opacity: 0.95;
	width: 100%; 
	height: 100%;
	@media only screen and (max-width : 420px) {
		width: auto; 
	}
	object-fit: cover;
}

.video-parallax-container{
	height: 600px; 
	position: relative;
	overflow: hidden;
}

.video-parallax{
	position: absolute;     
	top: 0;    
	left: 0;    
	right: 0;    
	bottom: 0;    
	z-index: -1;
}

.section{
	min-height: 300px;
	background-color: #ededed;
	h2 {
		font-size: 30px;
	}
}
.show-off{
	opacity: 0;
}

@media only screen and (max-width : 420px) {
	#myVideo{
		left: -70%;
		bottom: 0%;
	}
	.from-left{
		margin-left: 0 !important;	
	}
	.from-left{
		margin-left: 0 !important;	

	}
}

