body.sessions, body.registrations{
	background: url("/background-login.jpg");


	.card{
		border-radius: 15px;
		box-shadow: 0 0 10px white;
		border: 3px solid white;
		background-color: rgba(255, 255, 255, 0.8);
		span.subtitle{
			color: #999;
			font-size: 12px;

		}
		span.card-subtitle{
			font-size: 12px;
			font-style: italic;
			color: #888;
		}
		.card-reveal{
			padding-bottom: 3px;
			padding-top: 3px;
		}
		.card-action{
			padding-top: 0;
			padding-bottom: 0;
			border: none;
			background-color: transparent;
		}
	}
}