body.pages{
	h1,h2,h3,h4,h5,span,p,i,strong, a{
		position: relative !important;
	}
	h1{

		@media only screen and (min-width : 923px) {
			line-height: normal;
			font-size: 3rem;
		}
		font-size: 2rem;
		font-weight: 700;
		color: white;
		&.titulo{
			text-align: center;
		}
	}

	.absolute{
		position: absolute;
		left: 10%;
		top: 15%;	
	}

}
