<%= link_to "Novo User".html_safe, new_admin_user_path(), class: "btn shadow green" %>
<div class="row layout">
	<div class="input-field col s12 m6 l3">
		<input id="codigo" type="text" class="validate">
		<label class="active" for="codigo">Código</label>
	</div>
	<div class="input-field col s12 m6 l3">
		<input id="nome" type="text" class="validate">
		<label class="active" for="nome">Nome</label>
	</div>
	<div class="input-field col s12 m6 l3">
		<a id="buscar" class="btn shadow black small">Buscar</a>
	</div>
</div>

<div class="row layout claro">
	<div class="col s12 m12 l12">
		<div id="user_list">
			<%= render "list" %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$("#buscar").click(function(){
		$("#user_list").removeClass("animated tada");
		var codigo = $("#codigo").val();
		var nome = $("#nome").val();
		$.ajax({
			url: "/admin/users",
			method: "get",
			dataType: "script",
			data: {
				'id': 			codigo,
				'nome': 		nome
			}
		});
	});
$("input").keypress(function() {
    if (event.which == 13) $("a#buscar").trigger( "click" )
});
</script>