<tr>
  <td class="cod">
    <span>
      <%= categoria.id %>
    </span>
  </td>
  <td><%= I18n.t("categoria.tipos.#{categoria.tipos}") %></td>
  <td><%= categoria.nome %></td>
  <td><%= categoria.descricao %></td>
  <td>
    <%= categoria.ativo ? "<i class='material-icons green-text'>check_box</i>".html_safe : "<i class='material-icons red-text'>check_box_outline_blank</i>".html_safe %>
  </td>
  <td>
    <%= link_to edit_admin_categoria_path(categoria), class: "btn shadow blue small", title: "Editar #{categoria.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>edit</i>
    <% end %>
    <%= link_to admin_categoria_path(categoria), class: "btn shadow orange small", title: "Visualizar #{categoria.nome}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>search</i>
    <% end %>
  </td>
</tr>