<div class="layout">
	<%= form_for [:admin, @categoria], remote: true do |f| %>


  <div class="row">
    <div class="col s12 m12 l8 offset-l2">
      <div class="card">
        <div class="card-content">
			<div class="row">
				<div class="field">
					<div class="input-field col s12 m12 l12">
						<i class="material-icons prefix">description</i>
						<%= f.text_field :nome  %>
						<label for="categoria_nome">Name</label>
					</div>
				</div>

				<div class="field">
					<div class="input-field col s12 m12 l12">
						<i class="material-icons prefix">local_offer</i>
						<%= f.collection_select :tipos, categoria_tipos, :last, :first, { prompt: "Selecionar Tipo" } %>
						<%= f.label :tipos %>
					</div>
				</div>

				<div class="field">
					<div class="input-field col s12 m12 l12">
						<i class="material-icons prefix">description</i>
						<%= f.text_field :descricao %>
						<label for="categoria_descricao">Descrição</label>
					</div>
				</div>


			</div>
			<div class="row">
				<div class="col s12 m12 l12" >
					<label>
						<%= f.check_box :ativo, class: "filled-in checkbox"  %> 
						<span class="">Ativo</span>
					</label>
				</div>
			</div>
			<div class="action">
							<button type="submit" class="send btn shadow green dark small right">Salvar</button>
			</div>
        </div>
      </div>
    </div>
  </div>
	<% end %>

</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>