<table class="striped responsive-table">
  <thead>
    <tr>
      <th>Código</th>
      <th>Tipo</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ativo</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody id="item_list">
  <%= render @categorias %>
  </tbody>
</table>
