<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper container">
			<%= link_to "Admin", "/", class: "brand-logo logo" %>
			<a data-target="slide-out-front" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/admin" class="" style="display: inline-flex;">Home</a></li>
				<li><a href="/admin/categorias" class="" style="display: inline-flex;">Categorias</a></li>
				<li><a href="/admin/produtos" class="" style="display: inline-flex;">Produtos</a></li>
				<li><a href="/admin/users" class="" style="display: inline-flex;">Users</a></li>
			</ul>
		</div>
	</nav>
</div>

<ul class="sidenav" id="slide-out-front">
	<li><a href="/admin" class="btn shadow blue dark" style="display: inline-flex;">Home</a></li>
	<li><a href="/admin/categorias" class="btn shadow blue dark" style="display: inline-flex;">Categorias</a></li>
	<li><a href="/admin/produtos" class="btn shadow blue dark" style="display: inline-flex;">Produtos</a></li>
	<li><a href="/admin/users" class="btn shadow blue dark" style="display: inline-flex;">Produtos</a></li>
</ul>