<!DOCTYPE html>
<html>
  <head>
    <title>SysEcommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes"></head>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <article>
      <header>
        <%= render "/shared/navbar" %>
      </header>
    </article>
    <main>
      <%= yield %>
    </main>
    <footer class="page-footer">
      <%= render "/shared/footer" %>
    </footer>
    <% flash.each do |message_type, message| %>
      <% if message_type == 'alert' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'red'})" %>
      <% elsif message_type == 'notice' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'green'})" %>
      <% elsif message_type == 'info' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'blue'})" %>
      <% else %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'grey'})" %>
      <% end %>
    <% end %>
  </body>
</html>
